@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 2.5vh;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
}
a {
    background: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(32, 27, 27);
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    border-radius: 22px;
}
a:hover
{
    letter-spacing: 0.25em;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
